body {
    height: 100vh;
}

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

form {
    padding: 30px;
}

form, .error {
    width: 45em;
}
